body {
    background-color: lightblue ;
    margin: 0 ;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#banner h1, h3, h4 {
    color: whitesmoke ;
}

#banner h1 {
    margin-top: 16px ;
}

#banner h3 {
    margin-top: 8px ;
}

#banner hr {
    width: 100% ;
    height: 2px ;
    background-color: grey ;
    border-width: 0px ;
}

#banner {
    display: flex ;
    /* justify-content: center ; */
    background-color: navy ;
    flex-direction: column ;
    align-items: center ;
}

#currentWeather {
    border: solid ;
    padding: 20px ;
    margin-right: 20px ;
    display: flex; 
    justify-content: space-between;
}

#chosenCity {
    color: maroon ;
}

#weatherForecastCards {
    display: flex ;
}


.forecastCard h4 {
    margin: 10px ;
}

.forecastCard {
    border: solid ;
    border-color: rgb(211, 211, 31) ; ;
    margin: 20px ;
    padding: 10px ;
    background-color: grey ;


}

.forecastCard h3 {
    margin: 0 ;
}

#weatherData {
    display: flex ;
    flex-direction: column ;
    justify-content: flex-start ;
    flex-grow: 1 ;
}

.citySearch1 {
   margin-left: 20px ;
   margin-right: 20px ;
   display: flex ;
   align-items: flex-start ;
   flex-direction: column;
   justify-content: flex-start;
   
}

#citySearch hr {
    margin-right: 20px ;
    margin-left: 20px ;
    height: 1px ;
    background-color: white ;
    border-width: 0px ;
}

.citySearch2 {
    margin-left: 20px ;
    margin-right: 20px ;
    display: flex ;
    align-items: flex-start ;
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    padding-left: 0px ;
}

#citySearch h3 {
    color: grey ;
}

main {
    display: flex ;
    margin-top: 50px ;
}

#citySearch h1 {
    margin-top: 0px ;
}

#currentWeather h2 {
    margin: 0px ;
}

#currentWeather h4 {
    color: black ;
}

button {
    display: block ;
    margin-top: 8px; 
}

.uvLow {
    background-color: green ;
    color: white ;
    padding: 5px ;
}

.uvModerate {
    background-color: rgb(211, 211, 31) ;
    color: white ;
    padding: 5px ;
}

.uvHigh {
    background-color: orange ;
    color: white ;
    padding: 5px ;
}

.uvVeryHigh {
    background-color: red ;
    color: white ;
    padding: 5px ;
}

#currentIconDiv {
    display: flex ;
    align-items: center ;
}

#currentIcon {
    width: 225px ;
}

#weatherForecast h2 {
    margin-top: 20px ;
}