body {
    background-color: aqua ;
    margin: 0 ;
}

#banner h1 {
    color: hotpink ;
}

#banner {
    display: flex ;
    justify-content: center ;
    background-color: purple ;
    flex-direction: column ;
    align-items: center ;
}

#currentWeather {
    border: solid ;
}

#chosenCity {
    color: orangered ;
}